<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <h2>esercizio 1 "clicca qui"</h2>
    <form action="/esercizio1" method = "GET">
        
        <input type="text" name = "categoria" ></input> <br>

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form>
    <h2>esercizio 2 "clicca qui"</h2>
    <form action="/esercizio2" method = "GET">
        
        <input type="text" name = "estremo_minore" ></input> <br>
        <input type="text" name = "estremo_maggiore" ></input> <br>

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form>
    <h2>esercizio 3 "clicca qui"</h2>
    <form action="/esercizio2" method = "GET">
        
        <input type="text" name = "stringa" ></input> <br>
   

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form>

</body>
</html>